{% extends "reserva.html" %} {% block buscador %}
<form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" method="POST">
    {% csrf_token %}
    <div class="input-group">
        <input type="text" class="form-control bg-light border-0 small" placeholder="Buscar..." name="buscar" value="{{ request.POST.buscar }}">
        <div class="input-group-append">
            <button class="btn btn-primary" type="submit">
        <i class="fas fa-search fa-sm"></i>
      </button>
        </div>
    </div>
</form>
{% endblock %}