{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Inicio de sesion</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/inicio.css' %}">
    <style>
        body {
            background-image: url("{% static 'css/fotos/fondo.png' %}");
        }
    </style>
</head>


<body>
    <img class="wave" src="{% static '/img/wave.png'%}">


    <div class="container">

        <div class="img">

            <img src="{% static '/img/bg.svg'%}">

        </div>

        <div class="login-content">
            <form action="{% url 'login' %}" method="POST">
                <!--{{ form.as_p }} -->{% csrf_token %}

                <img src="{% static '/img/avatar.svg'%}">

                <h2 class="title">Inicio sesion</h2>

                <div class="input-div one">

                    <div class="i">

                        <i class="fas fa-user"></i>

                    </div>

                    <div class="div">

                        <h5>Nombre de usuario</h5>

                        <input type="text" name="username" class="input" required>

                    </div>

                </div>

                <div class="input-div pass">

                    <div class="i">

                        <i class="fas fa-lock"></i>

                    </div>

                    <div class="div">

                        <h5>Contraseña</h5>

                        <input type="password" name="password" class="input" required>

                    </div>

                </div>

                <a href="/registro">¿Desea registrarse?</a>
                <a href="/registrojuegos">registrar juego</a>

                <input type="submit" class="btn" value="Iniciar">
                <input type="hidden" name="next" value="{{ next }}">

                <br>

                <a href="http://127.0.0.1:8000/admin/login/?next=/admin/">¿Eres administrador?</a>

            </form>

        </div>

    </div>

    <script src="{% static '/js/inicio.js'%}"></script>


</body>

</html>