{% extends "registro.html" %} {% load static %} {% block modificar %}

<div class="login-content">
    <form action="" method="POST">
        {% csrf_token %}

        <input type="hidden" name="nombre" id="nombre" value="{{juegos.nombre}}">

        <img src="{% static '/img/avatar.svg'%}">

        <h4 class="title">Reserva de juegos</h4>

        <div class="input-div one">

            <div class="i">

                <i class="fa fa-gavel" aria-hidden="true"></i>

            </div>

            <div class="div">

                <h5>Nombre</h5>

                <input type="name" name="nombre" id="nombre" class="input" value="{{juegos.nombre}}" required>

            </div>

        </div>


        <div class="input-div one">

            <div class="i">

                <i class="fa fa-trophy" aria-hidden="true"></i>

            </div>

            <div class="div">

                <h5>Categoria</h5>

                <input type="name" name="categoria" id="categoria" class="input" value="{{juegos.categoria}}" required>

            </div>
        </div>
        <div class="input-div one">

            <div class="i">

                <i class="fa fa-gamepad" aria-hidden="true"></i>

            </div>

            <div class="div">

                <h5>Plataforma</h5>

                <input type="name" name="plataforma" id="plataforma" class="input" value="{{juegos.plataforma}}" required>

            </div>

        </div>
        <div class="input-div one">

            <div class="i">

                <i class="fa fa-file-image-o" aria-hidden="true"></i>

            </div>

            <div class="div">
                <h5>Imagen</h5>

                <input type="file" name="imagen" class="imagen" value="{{juegos.imagen}}" required>



            </div>





        </div>
        <input type="submit" name="btnreserva" class="btn" value="MODIFICAR">




        <div align="center">
            <a href="/index">Volver al inicio</a>
        </div>
        <div align="center">
            <a href="/reservasdejuegos">Ver listado de reservas</a>
        </div>







    </form>

</div>
{% endblock %}