{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Registro</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/inicio.css' %}">
    <style>
        body {
            background-image: url("{% static 'css/fotos/fondo.png' %}");
        }
    </style>
</head>


<body>
    <img class="wave" src="{% static '/img/wave.png'%}">


    <div class="container">

        <div class="img">

            <img src="{% static '/img/bg.svg'%}">

        </div>
        {% block newjuegos %}
        <div class="login-content">

            <form action="" method="POST">


                <img src="{% static '/img/avatar.svg'%}">

                <h2 class="title">Registro</h2>
                {% csrf_token %}

                <div class="input-div one">

                    <div class="i">

                        <i class="fas fa-user"></i>

                    </div>

                    <div class="div">

                        <h5>Nombre</h5>

                        <input type="name" name="nombreuser" class="input" required>

                    </div>

                </div>



                <div class="input-div one">

                    <div class="i">

                        <i class="fas fa-envelope"></i>

                    </div>

                    <div class="div">

                        <h5>Correo</h5>

                        <input type="email" name="correo" class="input" required>

                    </div>

                </div>

                <div class="input-div one">

                    <div class="i">

                        <i class="fas fa-lock"></i>

                    </div>

                    <div class="div">

                        <h5>Contraseña</h5>

                        <input type="password" name="password" class="input" required>

                    </div>

                </div>

                <div align="center">
                    <a href="/inicio">ir a iniciar sesion</a>
                </div>

                <input type="submit" class="btn" value="Registrarse">





            </form>

        </div>
        {% endblock %}
    </div>

    <script src="{% static '/js/inicio.js'%}"></script>

</body>

</html>